html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Audiowide", cursive;
  font-size: calc(16px + 20 * ((100vw - 320px) / 960));
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

@media screen and (max-width: 376px) and (orientation: landscape) {
  .wrapper {
    padding: 0;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover {
  color: rgba(50, 120, 224, 0.562);
}

.active {
  color: rgba(50, 120, 224, 0.35);
}

.option {
  cursor: pointer;
}

.option:checked {
  background: #3278e0;
  color: white;
}

.header {
  margin-bottom: 50px;
}

@media screen and (max-width: 376px) and (orientation: landscape) {
  .header .header__title {
    display: none;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.main .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

@media screen and (max-width: 376px) {
  .main .form {
    height: 80%;
  }
}

.main .form #length {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.main .form #length .length-case {
  padding: 0.3em;
}

.main .form .form__title {
  text-align: center;
}

.main .form .form__body {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.result {
  display: none;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: hidden;
}

.result .result__body {
  padding: 0.5em;
}

.result .result__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.result .result__btns .btn {
  padding: 0.3em;
}

.generated {
  opacity: 1;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  background: #455164;
  font-size: 56px;
  padding: 0.5em;
}
