html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

@media screen and (max-width: 376px) and (orientation: landscape) {
  .wrapper {
    padding: 0;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #666;
}

.btn:hover {
  color: rgba(50, 120, 224, 0.35);
}

.length-active {
  color: rgba(50, 120, 224, 0.562);
}

.option-active {
  color: rgba(50, 120, 224, 0.562);
}

.option {
  cursor: pointer;
}

.option:checked {
  background: #3278e0;
  color: white;
}

.header {
  margin-bottom: 1.2em;
}

.header .header__title {
  font-size: 42px;
}

@media screen and (max-width: 376px) and (orientation: landscape) {
  .header .header__title {
    display: none;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.main .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

@media screen and (max-width: 376px) {
  .main .form {
    height: 80%;
  }
}

.main .form .form-block {
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .form .form-block .form__title {
  text-align: center;
  padding: 0.2em;
}

.main .form #length {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  padding: 0.4em;
}

.main .form .form__body {
  display: -ms-grid;
  display: grid;
  gap: .5em;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 0.4em;
}

.result {
  display: none;
}

.result .result__body {
  padding: 0.5em;
}

.result .result__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.result .result__btns .btn {
  padding: 0.3em;
}

.error-message {
  display: none;
}

#generator {
  font-size: 42px;
}

.generated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  background: #455164;
  font-size: 56px;
  padding: 0.5em;
}

.language {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  color: #ffffff;
  top: -5em;
  right: 50px;
  background: #455164;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: top 0.5s ease-out 0.2s;
  transition: top 0.5s ease-out 0.2s;
}

.language .lang {
  padding: 0.5em;
}

.language:hover {
  top: 0;
  cursor: default;
}

.language .btn {
  color: #ffffff;
}

.language .btn:hover {
  color: rgba(36, 139, 235, 0.849);
  cursor: pointer;
}

.language .local-active {
  font-weight: 900;
  color: rgba(255, 0, 0, 0.781);
}
