$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Audiowide', cursive;
  @include adaptiv-font(36, 16);
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  padding: 50px 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  &:hover {
    color: rgba(50, 120, 224, 0.562);
  }
}

.active {
  color: rgba(50, 120, 224, 0.562);
}

.option {
  cursor: pointer;
  &:checked {
    background: rgb(50, 120, 224);
    color: white;
  }
}

.header {
  margin-bottom: 50px;
}

.main {
  display: flex;
  flex: 1;
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    height: 100%;
    #length {
      display: flex;
      flex-direction: row;
      flex-basis: auto;
      justify-content: space-between;
      .length-case {
        padding: .3em;
      }
    }
    .form__body {
      display: grid;
      gap: 2em;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}


