// $maxWidth: 1280;
// @mixin adaptiv-font($pcSize, $mobSize) {
//   $addSize: $pcSize - $mobSize;
//   $maxWidth: $maxWidth - 320;
//   font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
// }

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Audiowide", cursive;
  font-size: 36px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  padding: 50px 0;
  @media screen and (max-width: 376px) and (orientation: landscape) {
    padding: 0;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #666;
  &:hover {
    color: rgba(50, 120, 224, 0.35);
  }
}

.active {
  color: rgba(50, 120, 224, 0.562);
}

.option {
  cursor: pointer;
  &:checked {
    background: rgb(50, 120, 224);
    color: white;
  }
}

.header {
  margin-bottom: 1.2em;
  .header__title {
    font-size: 42px;
    @media screen and (max-width: 376px) and (orientation: landscape) {
      display: none;
    }
  }
}

.main {
  display: flex;
  flex: 1;
  height: 100%;
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    height: 100%;
    @media screen and (max-width: 376px) {
      height: 80%;
    }
    .form-block {
      padding: 0.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      .form__title {
        text-align: center;
        padding: 0.2em;
        // @media screen and (max-width:320px) {

        // }
      }
    }
    #length {
      display: flex;
      flex-direction: row;
      flex-basis: auto;
      justify-content: space-between;
      width: 80%;
      padding: 0.4em;
    }
    .form__body {
      display: grid;
      gap: .5em;
      grid-template-columns: repeat(2, 1fr);
      margin: 0.4em;
    }
  }
}

.result {
  display: none;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
  .result__body {
    padding: 0.5em;
  }
  .result__btns {
    display: flex;
    justify-content: space-evenly;
    .btn {
      padding: 0.3em;
    }
  }
}

#generator {
  font-size: 42px;
}

.generated {
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  align-self: center;
  justify-self: center;
  background: rgb(69, 81, 100);
  font-size: 56px;
  padding: 0.5em;
}

//language menu

.language {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: #ffffff;
  top: -5em;
  right: 50px;
  background: rgb(69, 81, 100);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: top 0.5s ease-out 0.2s;
  .lang {
    padding: 0.5em;
  }
  &:hover {
    top: 0;
    cursor: default;
  }
  .btn {
    color: #ffffff;
    &:hover {
      color: rgba(36, 139, 235, 0.849);
      cursor: pointer;
    }
  }
  .local-active {
    font-weight: 900;
    color: rgba(255, 0, 0, 0.781);
  }
}

