$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Audiowide', cursive;
  @include adaptiv-font(36, 16);
}

input[type="checkbox"] {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-family: 'Audiowide', cursive;
  @include adaptiv-font(36, 16);
  padding: .5em;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #ccc;
  &:hover {
    color: rgba(81, 136, 218, 0.76);
    cursor: pointer;
  }
}

.active {
  color: rgba(81, 136, 218, 0.76);
}

.header {
  display: flex;
  // padding-top: 30px;
  .header__title {
    @include adaptiv-font(56, 24);
    padding: .9em;
  }
}

.main {
  .form {
    display: flex;
    flex-direction: column;
    .form__title {
      @include adaptiv-font(42, 18);
      padding: .5em;
    }
    .length {
      font-family: 'Audiowide', cursive;
      border: none;
      color: #ccc;
      &:hover {
        color: rgba(81, 136, 218, 0.76);
        cursor: pointer;
      }
      &:active {
        color: rgba(81, 136, 218, 0.76);
      }
    }
    .form__body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include adaptiv-font(36, 16);
      padding: 0.8em;
      align-items: center;
    }
  }
}
